@use "mixins/breakpoints";

.products {
  &__list {
    margin: 2.4rem 0 0 0;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.4rem;

    @include breakpoints.viewportM {
      grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoints.viewportL {
      grid-template-columns: repeat(3, 1fr);
    }

    @include breakpoints.viewportXL {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
