@use "mixins/breakpoints";

.productDetail {
  display: grid;
  grid-template:
    "images" auto
    "info" auto
    "dimensions" auto / 1fr;
  gap: 24px;
  &__images {
    grid-area: images;
    &Skeleton {
      aspect-ratio: 1/1;
    }
  }
  &__info {
    grid-area: info;
  }
  &__dimensions {
    grid-area: dimensions;
  }

  @include breakpoints.viewportM() {
    grid-template:
      "images info" auto
      "images dimensions" auto / minmax(0, 0.4fr) minmax(0, 0.6fr);
  }
}
