.layout {
  display: grid;
  min-height: 100vh;
  grid-template: "header" auto "main" 1fr "footer" auto / 1fr;
}

.layout__header {
  padding-block: 2rem;
  border-bottom: 0.1rem solid black;
  grid-area: header;
}

.layout__headerContent {
  display: flex;
  justify-content: space-between;
  margin-inline: 2.4rem;
}

.layout__main {
  grid-area: main;
  margin: 1.6rem 2.4rem;
}

.layout__footer {
  padding-block: 2rem;
  background-color: black;
  color: white;
  grid-area: footer;
}

.layout__footerContent {
  display: flex;
  margin-inline: 2.4rem;
}

@media (min-width: 1200px) {
  .layout__headerContent,
  .layout__main,
  .layout__footerContent {
    margin-inline: auto;
    padding-inline: 2.4rem;
    width: 100%;
    max-width: 143.6rem;
  }
}
